
.rarity{
    margin-left: 250px;
    margin-right: 150px;
    width: 250px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid rgb(145, 68, 68);
    border-radius: 12px;
}
.PTDR {
    background-image: url('maxresdefault.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

h2{
    margin-left: 250px;
    margin-right: 350px;
    color: white;
}


.form-group{
    margin-left: 700px;
    margin-right: 700px;
    border: auto;

}

.oof{
    color: rgb(0, 0, 0);
}

.Heure{
    margin-left:9000px;
    margin-right: 700px;
    width: 250px;
}

.foot{
    border-bottom: 6px solid red;
    background-color: lightgrey;
    margin-left: 0px;
    margin-right: 1800px;
}

.form-control{
    border: 2px solid red;
    border-radius: 5px;
}


