
.rarity{
    margin-left: 50px;
    margin-right: 150px;
    width: 250px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid rgb(145, 68, 68);
    border-radius: 12px;
}

.oof{
    color: rgb(0, 0, 0);
    border-bottom: 6px solid rgb(0, 11, 110);
    background-color: rgb(0, 167, 233);
    margin-left: 50px;
    margin-right: 1380px;
    opacity: 0.7;
}
