.cartes{
    color: white;
}

.video{
    border-width:5px;  
    border-style:outset;
    height: 180px;
    width: 320px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 325px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }


.table{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid rgb(145, 68, 68);
    border-radius: 12px;
}

.marge{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.date{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid rgb(145, 68, 68);
    border-radius: 12px;
}

h3{
    color: rgb(255, 255, 255);
}


#f1_container {
    position: relative;
    float:left;
    margin-right:-460px;
    margin-left: 450px;
    width: 250px;
    height: 281px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100%;
    height: 100%;
    margin-right:20px;
    margin-left: 5px;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);
}
.face {
    position: absolute;
    width: 100%;
    margin-right:20px;
    margin-left: 5px;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 20px;
    margin-right:20px;
    margin-left: 5px;
    color: white;
    height:490px;
    width: 350px;
    text-align: center;
    background-color: rgba(77, 71, 71, 0.425);
}

.rarity{
    margin-left: 250px;
    margin-right: 150px;
    width: 250px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid rgb(145, 68, 68);
    border-radius: 12px;
}

.PTDR {
    background-image: url('maxresdefault.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

