div.desc{
    text-align: center;
}

div.desk{
    margin-top: 50px;
    margin-left: 50px;
    
}

div.navi{
    margin-right: 1010px;
    margin-top: -20px;
}

div.navi2{
    margin-right: 1030px;
    margin-top: -10px;
}

.cv{
    text-align: center;
}

.cv2{
    width:1050px;
    height:800px;
}

.invité{
    margin-top: 50px;
}

.connect{
    margin-top: 90px;
}

.connecte{
    margin-top: 20px;
}
