.intro{
    font-size: 25px;
    border-left: 6px solid red;
    background-color: lightgrey;
    opacity: 0.8;
 
}

.button1 {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: transform .2s;
    
}

.button1:hover {opacity: 1}

.button1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.zoom {
    transition: transform .2s;
}
  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.special{

color: red
}

.fin {
    color:white;
    padding: 128px;
}

