.Beuh{ 
    text-align: center; 
    font-size: 250%;
    font-weight: bold;
  }

footer{
  text-align: center;
}

.Vietnam{

  text-align: center;
  margin: auto;

}

.Viet{
  margin-top: 50px;
}

.acceuil{
  width: 180px;
  height: 40px;
  margin: auto;
  text-align: center;
}

body{
  text-align: center;
}
