<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
       
        <div id="app">
            <template>
                <div class="table-responsive">
                    <table class="table table-striped table-dark" v-if="info">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>nbCouchage</th>
                                <th>porte</th>
                                <th>etage</th>
                                <th>idCategorie</th>
                                <th>baignoire</th>
                                <th>prixBase</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in info">
                                <td>{{ item.id }}</td>
                                <td>{{ item.nbCouchage }}</td>
                                <td>{{ item.porte }}</td> 
                                <td>{{ item.etage }}</td>
                                <td>{{ item.idCategorie }}</td>
                                <td>{{ item.baignoire }}</td>
                                <td>{{ item.prixBase }}</td>
                            </tr>         
                        </tbody>
                    </table>
                </div>
            </template>
            <div id="app">
                <button v-on:click="ajax(idc)">valider</button>
                <input v-model="idc" placeholder="numéro de chambre"/>
              <p>Le message est : {{ idc }}</p>
        
        <script>
           
        var app =new Vue({
          el: '#app',
          data () {
            return {
              info: null,
              idc: 0,
              message:''    
            }
          },
          methods: {
            ajax: function (idc, event) {
            axios({
              method: 'get',
              url: 'http://help.frebourg.es/api/index.php/chambre/'+idc,
              responseType: 'json',    
            })
               .then(async res => { 
                 if(res.status === 200) { 
                       alert('Ok!');
                       this.info=res.data;                     
                  } else if(res.status === 400) { 
                      let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
               })  
            }
            }
        })
        
        </script>
        <form style="text-align: center;">
            <label  for="start" style="color: white;">Debut</label>
            <br>
            <input class="form-control" style="width: 250px; height: 40px; margin: auto; text-align: center;" type="date" id="start" name="trip-start" value="2020-10-02" min="2020-01-01" max="2020-12-31">
            <br>
            <label class="feet" for="end">Fin</label>
            <br>
            <input class="form-control" style="width: 250px; height: 40px; margin: auto; text-align: center;" type="date" id="end" name="trip-end" value="2020-10-02" min="2020-01-01" max="2020-12-31">
        </form>

        <div class="espace"><a></a></div>


    
    </body>
    
</html>