<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
    <body>

        <div id="app">
            <template>
                <div class="table-responsive">
                    <table class="table table-striped table-dark" v-if="info">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>nbCouchage</th>
                                <th>porte</th>
                                <th>etage</th>
                                <th>idCategorie</th>
                                <th>baignoire</th>
                                <th>prixBase</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in info">
                                <td>{{ item.id }}</td>
                                <td>{{ item.nbCouchage }}</td>
                                <td>{{ item.porte }}</td> 
                                <td>{{ item.etage }}</td>
                                <td>{{ item.idCategorie }}</td>
                                <td>{{ item.baignoire }}</td>
                                <td>{{ item.prixBase }}</td>
                            </tr>         
                        </tbody>
                    </table>
                </div>
            </template>
        </div>

        <script>
            new Vue({
            el: '#app',
            data () {
                return {
                info: null
                }
            },
            mounted () {
                    axios({
                method: 'get',
                // a changer
                url: 'http://help.frebourg.es/api/index.php/chambres',
                responseType: 'json',
                })
                .then(async res => { 
                    if(res.status === 200) { 
                        alert('Ok!');
                        // a changer pour obtneir le tableau de data
                        this.info=res.data;
                    } else if(res.status === 400) { 
                        let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
                });
            }
            })
        </script>

        <script>

            
        </script>
    </body>
</html>