.connecter{
    font-size: 25px;
    text-align: center;

}

.emaile{

    padding: 100px;

}

.feet{
    margin-top: 20px;
    color: white;
}

.espace{
    margin-top: 80px;
}

.background{
    background-color: #343a40;
}

body{
    background-color: #343a40;
}