p{
    font-style:"OCR A Std", monospace;
    text-shadow: 2px 2px rgb(53, 111, 236);
    text-align: center;
    text-transform: uppercase;
    color: blue;
    padding: 60px;
    text-align: center;
    background: #f12b45;
    color: white;
    font-size: 30px;
    height: 40px;
    width: 200px;
    outline-style: outset;
}

.welcome{
    font-size: 150%;
    color: rgb(255, 200, 252);
    background-color: rgb(13, 157, 214);
    outline-style: outset;
    border-radius: 12px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    height: 100px;
    width: 800px;
}

.p2{
    color: rgb(255, 255, 255);
    font-size: 250%;
    
}

.p3{
    padding: 60px;
    text-align: center;
    background: #ffc400;
    color: white;
    font-size: 30px;
    height: 460px;
    width: 900px;
    outline-style: outset;
}

.p4{
    padding: 60px;
    text-align: center;
    background: #6f03b8;
    color: white;
    font-size: 30px;
    height: 180px;
    width: 900px;
    outline-style: outset;
}

.intro{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    height: 60px;
    width: 900px;
    outline-style: outset;
}


